.bikespage-container
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .bikes-page-intro 
    {
        text-align: center;

        h2 
        {
            margin-bottom: 1.5rem;
        }
    }

    .section-break
    {
        padding: 3rem;
    }
}

/* Small (Phones/Tablets) */

@media (min-width: 600px)
{

}

/* Medium (Tablets) */

@media (min-width: 768px)
{

}

/* Large (Desktops) */

@media (min-width: 1024px)
{
    
}

/* Extra Large (Other Devices) */

@media (min-width: 1200px)
{

}