.contact-page
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .footer-section
    {
        padding: 0.5rem 0;

        p 
        {
            font-size: 0.8rem;
        }
    }
}