/* Non-Device Dependant Styles */

.flip-card
{
    perspective: 1000px;
    position: relative;
    border-radius: 20px;

    width: 22.5vw;
    height: 3vh;

    .flip-card-inner
    {
        position: relative;
        transition: transform 1s ease;
        transform-style: preserve-3d;
    }

    &:hover .flip-card-inner
    {
        transform: rotateY(180deg);
        cursor: pointer;
    }

    .flip-card-front, .flip-card-back
    {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    h2 
    {
        margin: 0;
        padding: 0;
        color: white;
    }

    .flip-card-back
    {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #1A3C34, #2d5a1a);
        border-radius: 20px;

        width: 22.5vw;
        height: 300px;

        p
        {
            margin: 0;
            padding: 2rem;
            color: white;
            text-align: center;
        }
    }

    .flip-card-front-overlay
    {
        position: absolute;
        bottom: 10px;
        right: 20px;
        padding: 12px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        text-align: right;
        text-shadow:
            -1px -1px 0 #4C994C,
            1px -1px 0 #4C994C,
            -1px 1px 0 #4C994C,
            1px 1px 0 #4C994C;
    }
}

/* Small */

@media (min-width: 576px)
{

}

/* Medium */

@media (min-width: 768px)
{

}

/* Large */

@media (min-width: 992px)
{
    .flip-card
    {
        width: 16rem;
        height: 13rem;
        margin: 0 2rem;

        .flip-card-front, .flip-card-back
        {
            h2
            {
                font-size: 1rem;
            }
        }

        .flip-card-back
        {
            width: 16rem;
            height: 13rem;

            p
            {
                margin: 0;
                padding: 1.5rem 1.5rem 1rem 1.5rem;
                font-size: 0.7rem;
                color: white;
            }
        }

        .flip-card-front-overlay
        {
            bottom: 5px;
            right: 5px;
        }
    }
}

/* Extra Large */

@media (min-width: 1200px)
{

}

/* Extra Extra Large */

@media (min-width: 1400px) 
{

}
