/* Non-Device Dependant Styles */

.flip-card
{
    width: 80vw;
    height: 25vh;
    perspective: 1000px;
    position: relative;
    border-radius: 20px;
    margin: 0.5rem 0 0.75rem 0;

    .flip-card-inner
    {
        position: relative;
        transition: transform 1s ease;
        transform-style: preserve-3d;
    }

    &:hover .flip-card-inner
    {
        transform: rotateY(180deg);
        cursor: pointer;
    }

    .flip-card-front, .flip-card-back
    {
        width: 100%;
        height: 25vh;
        position: absolute;
        backface-visibility: hidden;
    }

    h2 
    {
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
        color: white;
    }

    .flip-card-back
    {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;

        h2 
        {
            margin: 0;
        }

        p 
        {
            margin: 0;
            padding: 1rem 1rem 0 1rem;
            color: white;
            text-align: center;
            font-size: 0.8rem;
        }
    }

    .flip-card-front-overlay
    {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-weight: 700;
        text-shadow: 
            -1px -1px 0 #4C994C, 
            1px -1px 0 #4C994C,
            -1px 1px 0 #4C994C,
            1px 1px 0 #4C994C;
    }
}

/* Small */

@media (min-width: 576px)
{

}

/* Medium */

@media (min-width: 768px)
{

}

/* Large */

@media (min-width: 992px)
{

}

/* Extra Large */

@media (min-width: 1200px)
{

}

/* Extra Extra Large */

@media (min-width: 1400px) 
{

}
