.flip-card
{
    perspective: 1000px;
    position: relative;
    width: 22.5vw;
    height: 300px;
    border-radius: 20px;

    .flip-card-inner
    {
        position: relative;
        transition: transform 1s ease;
        transform-style: preserve-3d;
    }

    &:hover .flip-card-inner
    {
        transform: rotateY(180deg);
        cursor: pointer;
    }

    .flip-card-front, .flip-card-back
    {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        h2
        {
            margin: 0;
            padding: 0 0;
            font-size: 1.8rem;
            color: white;
        }
    }

    .flip-card-front
    {
        p
        {
            margin: 0;
            padding: 0;
            font-size: 0.8rem;
            color: white;
        }
    }

    .flip-card-back
    {
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #1A3C34, #2d5a1a);
        width: 22.5vw;
        height: 300px;
        border-radius: 20px;

        p
        {
            margin: 0;
            padding: 2rem;
            font-size: 0.8rem;
            color: white;
        }
    }

    .flip-card-front-overlay
    {
        position: absolute;
        bottom: 10px;
        right: 20px;
        padding: 12px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 700;
        text-align: right;
        text-shadow:
            -1px -1px 0 #4C994C,
            1px -1px 0 #4C994C,
            -1px 1px 0 #4C994C,
            1px 1px 0 #4C994C;
    }
}

/* Small (Phones/Tablets) */

@media (min-width: 600px)
{

}

/* Medium (Tablets) */

@media (min-width: 768px)
{

}

/* Large (Desktops) */

@media (min-width: 1024px)
{
    .flip-card
    {
        width: 22.5vw;
        height: 200px;

        .flip-card-front, .flip-card-back
        {
            h2
            {
                font-size: 1rem;
            }
        }

        .flip-card-back
        {
            width: 22.5vw;
            height: 27.5vh;

            p
            {
                margin: 0;
                padding: 1.5rem 1.5rem 1rem 1.5rem;
                font-size: 0.7rem;
                color: white;
            }
        }

        .flip-card-front-overlay
        {
            bottom: 5px;
            right: 5px;
        }
    }
}

/* Extra Large (Other Devices) */

@media (min-width: 1200px)
{

}