/* Non-Device Dependant Styles */

.homepage-container
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .landing-section
    {
        max-width: 80vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2rem 0 0 0;

        .landing-text-area
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            min-width: 0;
            padding: 1rem;

            .highlight
            {
                color: #4ED6B3;
            }

            p
            {
                max-width: 40ch;
            }
        }

        .landing-image-area
        {
            width: 45vw;
            height: 65vh;
            flex: 1;
            max-width: 500px;
            margin: 5rem 0 2.5rem 5rem;

            .landing-image
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                border: 1px solid rgba(255,255,255,0.2);
                filter: 
                    contrast(1.1) 
                    brightness(0.95) 
                    saturate(1.15);
            }
        }

        .landing-buttons-area
        {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;

            .landing-button
            {
                background-color: #4ED6B3;
                color: #133409;
                padding: 0.5rem 1rem;
                border-radius: 20px;
                font-weight: 600;
            }

            .landing-button:hover
            {
                cursor: pointer;
                background-color: #9DBF40;
                transform: scale(1.05);
            }
        }
    }

    .our-journey-section
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(26, 60, 52, 0.75);

        .our-journey-text-area
        {
            width: 80vw;
            text-align: center;
            padding: 4rem 0 4rem 0;
            
            h2, p
            {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                color: white
            }
        }
    }

    .our-services-section
    {
        max-width: 80vw;
        min-height: 80vh;
        
        .our-services-content-area
        {
            margin-top: 3rem;
            margin-bottom: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .the-future-section
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(26, 60, 52, 0.75);

        .the-future-text-area
        {
            width: 80vw;
            text-align: center;
            padding: 4rem 0 4rem 0;
            
            h2, p
            {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                color: white
            }
        }
    }

    .store-information-section
    {
        max-width: 100vw;
        display: flex;
        flex-direction: column;

        p
        {
            margin: 0;
            padding: 0.25rem 0;
        }

        .store-information-content-area
        {
            width: 80vw;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .store-information-item
            {
                text-align: center;
            }
        }
    }
}

/* Small */

@media (min-width: 576px)
{

}

/* Medium */

@media (min-width: 768px)
{

}

/* Large */

@media (min-width: 992px)
{

}

/* Extra Large */

@media (min-width: 1200px)
{
    .landing-section
    {
        .landing-button
        {
            font-size: 0.7rem; 
            padding: 0.75rem 1rem 0.75rem 1rem;
            margin: 0 1vw 0 1vw;
        }
    }
}

/* Extra Extra Large */

@media (min-width: 1400px) 
{

}
