/* Non-Device Dependant Styles */

.homepage-container
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .landing-section
    {
        max-width: 80vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 2rem 0 0 0;

        .landing-text-area
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            .highlight
            {
                color: #4ED6B3;
            }

            h1 
            {
                margin: 0.5rem 0;
                color: #2D5A4A;
            }

            p
            {
                margin: 0.5rem 0;
                max-width: 40ch;
            }
        }

        .landing-image-area
        {
            width: 80vw;
            height: 32.5vh;
            margin: 0 0 1.5rem 0;

            .landing-image
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 12px;
                filter: contrast(1.1) brightness(0.95) saturate(1.15);
            }
        }

        .landing-buttons-area
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1.5rem 0 0 0;
            gap: 0.5rem;

            .landing-button
            {
                background-color: #4ED6B3;
                color: #133409;
                width: 50vw;
                padding: 0.5rem 0.5rem;
                border-radius: 16px;
                font-weight: 600;
                font-size: 0.7rem; 
            }

            .landing-button:hover
            {
                cursor: pointer;
                background-color: #9DBF40;
                transform: scale(1.05);
            }
        }
    }

    .our-journey-section
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(26, 60, 52, 0.75);

        .our-journey-text-area
        {
            width: 80vw;
            text-align: center;
            padding: 2rem 0;

            h2, p 
            {
                color: white;
            }

            p 
            {
                padding: 0 1rem;
            }
        }
    }

    .our-services-section
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .our-services-text-area
        {
            width: 80vw;
            text-align: center;
            padding: 0 0 2rem 0;
        }

        .our-services-content-area
        {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }
    }

    .the-future-section
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(26, 60, 52, 0.75);

        .the-future-text-area
        {
            width: 80vw;
            text-align: center;
            padding: 2rem;

            h2, p 
            {
                color: white;
            }

            p 
            {
                padding: 0 1rem;
            }
        }
    }

    .store-information-section
    {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .store-information-content-area
        {
            width: 80vw;
            display: flex;
            flex-direction: column-reverse;
            text-align: center;

            p 
            {
                margin: 0.5rem 0;
            }
        }

        .store-information-content-area :first-child
        {
            padding: 1rem 0 0 0;
        }
    }

    .footer-section
    {
        padding: 0.5rem 0;

        p 
        {
            font-size: 0.8rem;
        }
    }
}

/* Small */

@media (min-width: 576px)
{

}

/* Medium */

@media (min-width: 768px)
{

}

/* Large */

@media (min-width: 992px)
{

}

/* Extra Large */

@media (min-width: 1200px)
{

}

/* Extra Extra Large */

@media (min-width: 1400px) 
{

}
