.left-side-content-container
{
    width: 80vw;
    display: flex;
    flex-direction: column-reverse;
    gap: 10%;

    .text-area
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1rem;

        h2 
        {
            margin: 1rem 0;
        }

        p 
        {
            margin-bottom: 2rem;
        }

        summary 
        {
            text-align: left;
            cursor: pointer;
            font-weight: 600;
            list-style: none;
        }

        summary::before 
        {
            content: "▼";
            margin-right: 0.75rem;
            font-size: 1rem;
        }

        details[open] summary::before 
        {
            content: "▲";
        }
    }

    .details-box
    {
        margin: 0 0 1rem 0.25rem;
        text-align: center;
        background-color: rgba(26, 60, 52, 0.75);

        details 
        {
            padding: 0.5rem;
            border: 1px solid rgba(60, 90, 80, 0.9);
            
            p 
            {
                margin-bottom: 0.5rem;
                padding: 0 0.5rem;
                color: white;
            }
        }
    }

    .image-area
    {
        width: 80vw;
        height: 32.5vh;
    }

    .right-side-image
    {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border: 1px solid rgba(255,255,255,0.2);
        filter: 
            contrast(1.1) 
            brightness(0.95) 
            saturate(1.15);
    }
}

/* Small (Phones/Tablets) */

@media (min-width: 600px)
{

}

/* Medium (Tablets) */

@media (min-width: 768px)
{

}

/* Large (Desktops) */

@media (min-width: 1024px)
{
    .left-side-content-container
    {
        .text-area
        {
            width: 45vw;
            height: 60vh;

            h2
            {
                margin: 0;
            }
        }

        .image-area
        {
            width: 50vw;
            height: 60vh;
        }
    }
}

/* Extra Large (Other Devices) */

@media (min-width: 1200px)
{

}



