.meet-the-team-container
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}

.team-profiles
{
    width: 80vw;
    display: flex;
    flex-direction: row;
}

.team-member-expansion-area
{
    width: 75vw;
    border: 2px solid #4C994C;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05); // Slight contrast
    animation: slideDown 0.3s ease-out;
    padding: 2vw;
    margin-top: 2.5vh;

    .expansion-box
    {
        display: flex;
        flex-direction: row;

        .expansion-box-image
        {
            img
            {
                width: 20vw;
                height: 30vh;
            }
        }

        .expansion-box-content
        {
            padding-left: 2vw;
        }
    }
}

@keyframes slideDown 
{
    from { 
        opacity: 0; transform: translateY(-20px); 
    }
    to { 
        opacity: 1; transform: translateY(0); 
    }
}

/* Small (Phones/Tablets) */

@media (min-width: 600px)
{

}

/* Medium (Tablets) */

@media (min-width: 768px)
{

}

/* Large (Desktops) */

@media (min-width: 1024px)
{
    .meet-the-team-container
    {
        .team-profiles
        {
            margin-top: 2vh;
        }
    }

    .team-member-expansion-area
    {
        border: 2px solid #4CAF50;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 
            0 4px 20px rgba(76, 175, 80, 0.3),
            0 2px 10px rgba(0, 0, 0, 0.1);

        .expansion-box
        {
            .expansion-box-image-box
            {
                width: 35vw;
                height: 35vh;

                .expansion-box-image
                {
                    width: 100%;
                    height: 100%;
                }
            }

            .expansion-box-content
            {
                width: 70vw;
                padding-left: 2vw;

                h2 
                {
                    margin: 0;
                }

                h3 
                {
                    margin: 0;
                    font-size: 1rem;
                }

                p 
                {
                    margin: 0;
                    padding: 1rem 3rem 1rem 0;
                    font-size: 0.8rem;
                    line-height: 1.4;
                }

                button 
                {
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    background-color: rgba(26, 60, 52, 0.75);
                    border: none;
                    color: rgba(255, 255, 255, 0.95);
                    border-radius: 12px;
                }
            }
        }
    }

    .section-break
    {
        padding: 4vh;
    }
}

/* Extra Large (Other Devices) */

@media (min-width: 1200px)
{

}