.meet-the-team-container
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.team-profiles
{
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.team-member-expansion-area
{
    width: 75vw;
    border: 2px solid #4C994C;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05); 
    animation: slideDown 0.3s ease-out;
    padding: 2rem;
    margin: 2rem 0 0 0;

    .expansion-box
    {
        display: flex;
        flex-direction: row;

        .expansion-box-image
        {
            img
            {
                width: 20vw;
                height: 30vh;
            }
        }

        .expansion-box-content
        {
            padding-left: 3rem;

            h2 
            {
                margin: 0;
                font-size: 2rem;
            }

            h3 
            {
                margin: 0;
                font-size: 1.5rem;;
            }

            p 
            {
                margin: 2rem 0;
                font-size: 1rem;;
            }

            button 
            {
                padding: 0.25rem 1rem;
                border: none;
                color: #133409;
                background-color: #44BB21;
                border-radius: 12px;
                font-weight: bold;
            }
        }
    }
}

@keyframes slideDown 
{
    from { 
        opacity: 0; transform: translateY(-20px); 
    }
    to { 
        opacity: 1; transform: translateY(0); 
    }
}

/* Small (Phones/Tablets) */

@media (min-width: 600px)
{

}

/* Medium (Tablets) */

@media (min-width: 768px)
{

}

/* Large (Desktops) */

@media (min-width: 1024px)
{

}

/* Extra Large (Other Devices) */

@media (min-width: 1200px)
{

}