.reusepage-container
{
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .reuse-page-intro 
    {
        width: 80vw;
        text-align: center;
        margin: 0;

        h2 
        {
            margin: 1.5rem 0;
        }
    }

    .section-break
    {
        padding: 1rem;
    }

    .footer-section
    {
        padding: 0.5rem 0;

        p 
        {
            font-size: 0.8rem;
        }
    }
}

/* Small (Phones/Tablets) */

@media (min-width: 600px)
{

}

/* Medium (Tablets) */

@media (min-width: 768px)
{

}

/* Large (Desktops) */

@media (min-width: 1024px)
{

}

/* Extra Large (Other Devices) */

@media (min-width: 1200px)
{

}