@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.store-info-section
{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 40vh;
    align-items: center;
    flex-wrap: wrap;

    .logo-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4vw;
        height: 4vw;
        background-color: #2E6F40;
        border-radius: 50%;
    }

    h2
    {
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    p
    {
        margin-top: 0.5vh;
    }
}

