.team-member-container
{
    position: relative;
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    overflow: hidden;

    .card-content
    {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        
        h2, p
        {
            margin: 0;
            padding: 0;
            color: white;
            text-shadow:
                -1px -1px 0 #4C994C,
                1px -1px 0 #4C994C,
                -1px 1px 0 #4C994C,
                1px 1px 0 #4C994C;
        }

        h2
        {
            font-size: 1rem;
        }

        p
        {
            font-size: 0.75rem;
        }
    }

    &:hover .card-content
    {
        background: rgba(26, 60, 52, 0.75);
    } 
}


/* Small (Phones/Tablets) */

@media (min-width: 600px)
{

}

/* Medium (Tablets) */

@media (min-width: 768px)
{

}

/* Large (Desktops) */

@media (min-width: 1024px)
{

}

/* Extra Large (Other Devices) */

@media (min-width: 1200px)
{

}
